/* ===================================================
Component: accordion
=================================================== */

/* ---------------------------------------------------
Local vars
--------------------------------------------------- */
$duration-transition-base: .3s;
$color-1: #EBEBEB;
$color-2: #FFF;
$color-3: #666;

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-accordion"] {
	width: 100%;
	
	.accordion__title {
		cursor: pointer;
		
		// Title styles if linked content is hidden
		&[aria-selected="false"] {

		}
		
		// Title styles if linked content is visible
		&[aria-selected="true"] {

		}
	}

	.accordion__content {
		overflow: hidden;
		transition: height $duration-transition-base ease-in-out;
		
		&[aria-hidden="true"] {
			visibility: hidden; // otherwise user is able to focus elements inside the hidden content section
		}
	}
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-accordion--default {
	border: 1px solid $color-1;

	.accordion__title {
		position: relative;
		margin: 0;
		padding: 20px 50px 20px 15px;
		font-size: 22px;
		
		&:hover,
		&:focus,
		&:active {
			background-color: $color-3;
		}
		
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 30px;
			right: 20px;
			width: 22px;
			height: 2px;
		}

		&::after {
			transform: rotate(90deg);
			transform-origin: center;
			transition: opacity $duration-transition-base ease-in-out; 
		}

		&:nth-child(4n+1) {
			background-color: $color-1;
			
			&::before,
			&::after {
				background-color: $color-2;
			}
		}

		&:nth-child(4n+3) {
			background-color: $color-2;
			
			&::before,
			&::after {
				background-color: $color-1;
			}
		}
		
		&[aria-selected="false"] {
			&::after {
				opacity: 1;
			}
		}
		
		&[aria-selected="true"] {
			&::after {
				opacity: 0;
			}
		}
	}

	.accordion__content {
		padding: 0 15px;
		
		&:nth-child(4n+2) {
			background-color: $color-1;
		}

		&:nth-child(4n+4) {
			background-color: $color-2;
		}
	}
}